apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kubeflow-notebooks-webapp
  name: kubeflow-notebooks-webapp-deployment
  namespace: {{ .Values.kubeflow.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubeflow-notebooks-webapp
  template:
    metadata:
      labels:
        app: kubeflow-notebooks-webapp
    spec:
      containers:
      - env:
        - name: APP_PREFIX
          value: /jupyter
        - name: UI
          value: default
        - name: USERID_HEADER
          value: x-auth-request-email
        - name: USERID_PREFIX
          value: ''
        - name: APP_SECURE_COOKIES
          value: 'true'
        image: docker.io/kubeflownotebookswg/jupyter-web-app:v1.8.0
        name: kubeflow-notebooks-webapp
        ports:
        - containerPort: 5000
        volumeMounts:
        - mountPath: /etc/config
          name: config-volume
        - mountPath: /src/apps/default/static/assets/logos
          name: logos-volume
      serviceAccountName: kubeflow-notebooks-webapp-service-account
      volumes:
      - configMap:
          name: kubeflow-notebooks-webapp-config
        name: config-volume
      - configMap:
          name: kubeflow-notebooks-webapp-logos
        name: logos-volume
