{{- if .Values.engine.code }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: engine-code-{{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
{{ .Values.engine.code | indent 4 }}
---
{{- end }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: engine-config-{{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  engine-config.json: |
    {{- .Values.engine.config | toPrettyJson | nindent 4 }}
---