cluster_name     = "my-kf-cluster" # name cannot be more than 16 chars long
region           = "us-east-1"
azs              = ["us-east-1a", "us-east-1b", "us-east-1c"]
profile          = "default"
import_path      = "s3://<bucketname>/<prefix>/"