apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: notebook-controller
  name: notebook-controller-deployment
  namespace: {{ .Values.kubeflow.namespace }}
spec:
  selector:
    matchLabels:
      control-plane: notebook-controller
  template:
    metadata:
      labels:
        control-plane: notebook-controller
    spec:
      containers:
      - command:
        - /manager
        env:
        - name: USE_ISTIO
          valueFrom:
            configMapKeyRef:
              key: USE_ISTIO
              name: notebook-controller
        - name: ISTIO_GATEWAY
          valueFrom:
            configMapKeyRef:
              key: ISTIO_GATEWAY
              name: notebook-controller
        - name: CLUSTER_DOMAIN
          valueFrom:
            configMapKeyRef:
              key: CLUSTER_DOMAIN
              name: notebook-controller
        - name: ENABLE_CULLING
          valueFrom:
            configMapKeyRef:
              key: ENABLE_CULLING
              name: notebook-controller
        - name: CULL_IDLE_TIME
          valueFrom:
            configMapKeyRef:
              key: CULL_IDLE_TIME
              name: notebook-controller
        - name: IDLENESS_CHECK_PERIOD
          valueFrom:
            configMapKeyRef:
              key: IDLENESS_CHECK_PERIOD
              name: notebook-controller
        image: docker.io/kubeflownotebookswg/notebook-controller:v1.8.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
      serviceAccountName: notebook-controller-service-account
