apiVersion: kubeflow.org/v1alpha1
kind: MPIJob
metadata:
  name: {{ .Values.maskrcnn.name }}
  namespace: {{ .Values.global.namespace }} 
  labels:
    app.kubernetes.io/name: {{ .Values.maskrcnn.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  gpus: {{ .Values.maskrcnn.gpus }}
  template:
    spec:
      restartPolicy: Never
      volumes:
      - name: efs
        persistentVolumeClaim:
            claimName: {{ .Values.maskrcnn.efs_pvc }}
      - name: ebs
        hostPath:
            path: /ebs
            type: DirectoryOrCreate
      containers:
      - name: {{ .Values.maskrcnn.name }} 
        env:
        - name: HOROVOD_CYCLE_TIME
          value: "{{ .Values.maskrcnn.horovod_cycle_time }}" 
        - name: HOROVOD_FUSION_THRESHOLD
          value: "{{ .Values.maskrcnn.horovod_fusion_threshold }}" 
        - name: NCCL_SOCKET_IFNAME
          value: "{{ .Values.maskrcnn.nccl_socket_ifname }}" 
        - name: NCCL_MIN_NRINGS
          value: "{{ .Values.maskrcnn.nccl_min_rings }}" 
        - name: NCCL_DEBUG
          value: "{{ .Values.maskrcnn.nccl_debug }}" 
        command: 
        - mpirun
        args:
        - --output-filename 
        - /efs/{{ .Release.Name }}-{{ date "2006-01-02-15-04-05" .Release.Time  }}
        - --allow-run-as-root
        - --display-map
        - --tag-output
        - --timestamp-output
        - python3
        - /tensorpack/examples/FasterRCNN/train.py
        - --logdir 
        - /efs/{{ .Release.Name }}-{{ date "2006-01-02-15-04-05" .Release.Time  }}/train_log/maskrcnn
        - --config  
        - MODE_MASK={{ .Values.maskrcnn.mode_fpn }}
        - MODE_FPN={{ .Values.maskrcnn.mode_mask }}
        - DATA.BASEDIR={{ .Values.maskrcnn.data_dir }}
        - DATA.TRAIN={{ .Values.maskrcnn.data_train }} 
        - DATA.VAL={{ .Values.maskrcnn.data_val }}
        - TRAIN.EVAL_PERIOD={{ .Values.maskrcnn.eval_period_in_epochs }}
        - TRAIN.STEPS_PER_EPOCH={{ .Values.maskrcnn.steps_per_epoch }}
        - TRAIN.LR_SCHEDULE={{ .Values.maskrcnn.lr_schedule }} 
        - BACKBONE.WEIGHTS={{ .Values.maskrcnn.backbone_weights }}
        - BACKBONE.NORM={{ .Values.maskrcnn.backbone_norm }}
        - TRAINER=horovod
        image: {{ .Values.maskrcnn.image }} 
        imagePullPolicy: {{ .Values.maskrcnn.image_pull_policy }}
        volumeMounts:
        - mountPath: /efs
          name: efs
        - mountPath: /ebs
          name: ebs
        resources:
          limits:
            nvidia.com/gpu: {{ .Values.maskrcnn.gpus_per_node }}
